<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel='stylesheet' href='/css/styles.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/823c8f081a.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/css/normalize.css'
</head>
<body>
    <header>
        <section id='header-en-amarillo'>
            <section class='main-header'>
                <figure class='logo'>
                    <a href="/"><img id='logo' src= 'images/logo-mercado-liebre.svg' alt= 'logo mercado liebre'></a>
                </figure>
                <section class='barra-navegacion'>
                    <form>
                        <div>
                            <input class='text-input' type='text' id='busqueda' placeholder="Buscar productos, marcas y más" name='busqueda'>
                        </div>
                    </form>
                </section>
                <section class='cuotas'>  
                    <p id= 'texto-cuotas'> <i class="fas fa-hand-holding-usd" id= 'icon-hand'></i> Comprá en cuotas y sin tarjeta de crédito</p>
                </section>
            </section>
            <nav>
                <section class='escondido-en-mobile'>
                    <ul>
                        <li><a href= '#'>Ofertas</a></li>
                        <li><a href= '#'>Tiendas Oficiales</a></li>
                        <li><a href= '#'>Vender</a></li>
                        <li><a href= '#'>Ayuda</a></li>
                    </ul>
                    <ul>
                        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href= "/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></i></li>
                        <li><a href= '#'>Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                    </ul>
                </section>
                <figure id='escondido-en-tablet' class= 'burger-menu'>
                    <i class="fas fa-bars" id='burger-menu'></i>
                </figure>
        </nav>
        </section>
    </header>
    <main>
        <figure class='banner-home'>
            <img  class='img-banner' src= '/images/img-home-banner.jpg' alt= 'banner-home-mercado-liebre'>
        </figure>
        <section>
            <h2 id='titulos-gris' class= 'titulates' >Basado en tu última visita</h2>
            <section class= 'contenedor-productos-0'>
            <article class='contenedor-productos-listados'>
                <figure>
                    <img class='imagen-producto' src= '/images/img-cafetera-moulinex.jpg' alt= 'imagen cafereta moulinex'>
                </figure>
                <section class='descripcion-producto'>
                    <section class='contenedor-descripcion'>
                        <i class="fas fa-truck"></i>
                        <section class= 'precio-y-descuento'>
                            <p class= 'precio'>$6.770</p>
                            <p class='descuento'>40% OFF</p>
                        </section>
                        <p class= 'descripcion'>Cafetera Moulinex</p>
                    </section>
                </section>
            </article>
            <article class='contenedor-productos-listados'>
                <figure>
                    <img class='imagen-producto'src= '/images/img-macbook-pro-2019.jpg' alt= 'imagen macbook pro 2019'>
                </figure>
                <section class='descripcion-producto'>
                    <section class='contenedor-descripcion'>
                        <i class="fas fa-truck"></i>
                        <section class= 'precio-y-descuento'>
                            <p class= 'precio'>$230.000</p>
                            <p class='descuento'>20% off</p>
                        </section>
                        <p class= 'descripcion'>MacBook Pro 2019</p>
                </section>
                </section>
            </article>
            <article class='contenedor-productos-listados'>
                <figure>
                    <img class='imagen-producto' src= '/images/img-samsung-galaxy-s10.jpg' alt= 'imagen samsung galaxy s10'>
                </figure>
                <section class='descripcion-producto'>
                    <section class='contenedor-descripcion'>
                        <i class="fas fa-truck"></i>
                        <section class= 'precio-y-descuento'>
                            <p class= 'precio'>$70.500</p>
                            <p class='descuento'>10% off</p>
                        </section>
                        <p class= 'descripcion'>Samsung Galaxy S10</p>
                    </section> 
                </section> 
            </article>
            <article class='contenedor-productos-listados'>
                <figure>
                    <img class='imagen-producto' src= '/images/img-tv-samsung-smart.jpg' alt= 'imagen tv samsung smart'>
                </figure>
                <section class='descripcion-producto'>
                    <section class='contenedor-descripcion'>
                        <i class="fas fa-truck"></i>
                        <section class= 'precio-y-descuento'>
                            <p class= 'precio'>$23.200</p>
                            <p class='descuento'>5% off</p>
                        </section>
                        <p class= 'descripcion'>SmartTv Samsung 43"</p>
                    </section>
                </section>
            </article>
            </section>                       
        </section>
        <section>
            <h2 id='titulos-gris' class= 'titulates'>Sección de Ofertas</h2>
            <section class= 'contenedor-productos-0'>
                <article class='contenedor-productos-listados'>
                    <figure>
                        <img class='imagen-producto' src= '/images/img-cafetera-moulinex.jpg' alt= 'imagen cafereta moulinex'>
                    </figure>
                    <section class='descripcion-producto'>
                        <section class='contenedor-descripcion'>
                            <i class="fas fa-truck"></i>
                            <section class= 'precio-y-descuento'>
                                <p class= 'precio'>$6.770</p>
                                <p class='descuento'>40% OFF</p>
                            </section>
                            <p class= 'descripcion'>Cafetera Moulinex</p>
                        </section>
                    </section>
                </article>
                <article class='contenedor-productos-listados'>
                    <figure>
                        <img class='imagen-producto'src= '/images/img-macbook-pro-2019.jpg' alt= 'imagen macbook pro 2019'>
                    </figure>
                    <section class='descripcion-producto'>
                        <section class='contenedor-descripcion'>
                            <i class="fas fa-truck"></i>
                            <section class= 'precio-y-descuento'>
                                <p class= 'precio'>$230.000</p>
                                <p class='descuento'>20% off</p>
                            </section>
                            <p class= 'descripcion'>MacBook Pro 2019</p>
                    </section>
                    </section>
                </article>
                <article class='contenedor-productos-listados'>
                    <figure>
                        <img class='imagen-producto' src= '/images/img-samsung-galaxy-s10.jpg' alt= 'imagen samsung galaxy s10'>
                    </figure>
                    <section class='descripcion-producto'>
                        <section class='contenedor-descripcion'>
                            <i class="fas fa-truck"></i>
                            <section class= 'precio-y-descuento'>
                                <p class= 'precio'>$70.500</p>
                                <p class='descuento'>10% off</p>
                            </section>
                            <p class= 'descripcion'>Samsung Galaxy S10</p>
                        </section> 
                    </section> 
                </article>
                <article class='contenedor-productos-listados'>
                    <figure>
                        <img class='imagen-producto' src= '/images/img-tv-samsung-smart.jpg' alt= 'imagen tv samsung smart'>
                    </figure>
                    <section class='descripcion-producto'>
                        <section class='contenedor-descripcion'>
                            <i class="fas fa-truck"></i>
                            <section class= 'precio-y-descuento'>
                                <p class= 'precio'>$23.200</p>
                                <p class='descuento'>5% off</p>
                            </section>
                            <p class= 'descripcion'>SmartTv Samsung 43"</p>
                        </section>
                    </section>
                </article>
                </section>                       
            </section>       
        </section>
    </main>
    <footer>
        <section class='contenedor-principal-footer'>
            <section class='contenedor-seccion-footer'>
                <i id='icons-footer' class="fas fa-credit-card"></i>
                <h2 class= 'titulo-footer'>Pagá con tarjeta o en efectivo</h2>
                <p class='parrafo-footer'>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class='contenedor-seccion-footer'>
                <i id='icons-footer' class="fas fa-gift"></i>
                <h2 class= 'titulo-footer'>Envío gratis desde $ 2.500</h2>
                <p class='parrafo-footer'>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section id='last-section-footer' class='contenedor-seccion-footer'>
                <i id='icons-footer' class="fas fa-user-shield"></i>
                 <h2 class= 'titulo-footer'>Seguridad, de principio a fin</h2>
                <p class='parrafo-footer'>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </section>
        <section id='copyright-final'>
            <p >Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>