*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    color: #03264C;
    background-color: #ebebeb;
    margin:0;
    padding:0;
}

header{
    font-size: 0.75em;
    width:100%;
    margin: 0;
    padding: 1.5em;
    background-color:#EAC926;
}

ul{
    list-style-type: none;
    padding-left: 0em;
   
}

li{
    font-size: 1em;
}

a{
    text-decoration: none;
    color:#03264C;
}

p{
    font-size: 0.75em;
}

main{
    background-color: #ebebeb;
    widows: 90%;
    margin:auto;
}

article{
    width:90%;
    margin:auto;
    margin-bottom: 0.625em;
    background-color: white;
    transition: box-shadow 450ms;
}


article:hover{
    box-shadow: 0em 0em 0.875em 0em rgb(194, 192, 192);
}


footer{
    background-color: white;
    text-align: center;
    width:100%;
    padding:0.625em;
    padding-top:4.3em;
    margin-top: 1.25em;
}

.main-header{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding-bottom:0.5em;
}

.logo{
    margin: 0;
    width:50%;
    max-width: 50%;
}

.cuotas{
    margin:0;
    text-align:center;
    width:100%;
    padding-top:10px;
}

.escondido-en-mobile{
    display:none;
}

.burger-menu{
    text-align: center;
    background-color: #EAC926;
    margin-bottom: 0;
    padding-top:2em;
    padding-bottom:0.5em;
}

.fa-bars:before {
    content: "\f0c9";
    background-color:#0047af;
    padding: 0.3em 0.4em;
    border-radius: 0.083em;
}

.banner-home{
    margin:0;
    background-size:  cover;
}

.img-banner{
    width:100vw;
}

.contenedor-productos-0{
    background-color:#ebebeb;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items: center ;
}

.imagen-producto{
    padding:0.9375em;
    width:100%;
}

.descripcion-producto{
    border-top: solid 0.083em #ebebeb;
    background-color: white;
    padding-top:1.875em;
    width:100%;
}

.contenedor-descripcion{
    padding:0.5em 1em;
}

.titulates{
    font-size: 1.5em;
    columns: #666666;
}

.precio-y-descuento{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    margin:0;
    padding-top:20px;
}

.precio{
  font-size: 1.7em;
  flex-grow:0.07;
  margin:0;
}

.descuento{
    font-size: 1em;
    color:#00b638;
    flex-grow:0.93;
    margin:0;
}

.descripcion{
    font-size: 1em;
    opacity: 0;
    transition: opacity 450ms;
}

.descripcion:hover{
    opacity:1;
}

.fa-truck:before {
    font-size: 1em;
    color: #00b638;
    width:30px;
    height:30px;
    border-image: solid 0.8em;
    border: solid 0.0625em;
    padding: 0.5em;
    border-radius:50%;
}

.fa-bars:hover{
    animation-name:camioncito;
    animation-duration:100ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes camioncito{
    0%{
        transform: translate(0rem) rotate(0deg);
    }

    100%{
        transform: translate(1rem) rotate(-360deg);
    }
}

.contenedor-seccion-footer{
    padding-left: 2.75em;
    padding-right: 2.75em;
    margin-bottom: 3.75em;
}

.titulo-footer{
    color: #666666;
    font-size: 1.1em;
    margin:0;
}

.parrafo-footer{
    color:#666666;
    margin:0.1em;
}

#header-en-amarillo{
    background-color: #EAC926;
    width: 100%;
}

#logo{
    width: 30%;
    min-width: 150px;
}

#barra-búsqueda{
    margin:0;
}

#burger-menu{
    color:white;
    background-color:transparent;
    font-size: 2em;
    margin:auto;
}

#escondido-en-tablet {
    margin:0;
   
}

#titulos-gris{
    color:#666666;
    background-color: #ebebeb;
    padding-left: 0.6em;
}

#texto-cuotas{
    text-align: center;
    font-size: 1em;
    margin:0;
}

#icon-hand{
    color: #03264C;
}

#icon-credit-card{
    font-size: 2em;
    color: #0047af;
    margin-bottom: 0.625em;
}

#icon-gift{
    font-size: 2em;
    color:#0047af;
    margin-bottom: 0.625em;
}

#icon-seguridad{
    font-size: 2em;
    color: #0047af;
    margin-bottom: 0.625em;
}

#last-section-footer{
    padding-bottom:1.25em;
    margin-bottom: 2em;
}

#copyright-final{
    text-align: left;
    color: #666666;
}

@media(min-width: 568px){

    .escondido-en-mobile{
        display:flex;
        flex-wrap:wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
    }
    
    ul{
        display:flex;
        flex-wrap:wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
    }

    li{
        margin-right:10px;
    }

    .main-header{
        display:flex;
        flex-wrap:wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        padding-bottom:0.5em;
    }

    .logo{
        margin: 0;
        max-width:30%;
        min-width: 200px;
    }

    .barra-navegacion{
        max-width:30%;
        margin:0;
    }
    
    .cuotas{
        margin:0;
        max-width:30%;
        padding:0;
    }

    .contenedor-productos-0{
        width:100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content: space-around;
        margin: auto;
    }

    article{
        width:48%;
        align-items:stretch;
    }

    .parrafo-footer{
        max-width:40%;
        margin:auto;
    }

    #escondido-en-tablet {
        display:none;
       
    }

    ul {
        margin-bottom: 0;
    }

    #barra-búsqueda{
        margin: 0;
        text-align: center;
    }

    #texto-cuotas{
        margin:0;
    }

}





@media(min-width: 837px){


    .contenedor-productos-0{
        width:100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content: space-around;
        margin: auto;
    }

    article{
        width:24%;
        align-items:center;
    }
    article:hover{
        box-shadow: 0em 0em 0.875em 0em rgb(194, 192, 192);
    }

    #header-en-amarillo{
        max-width: 95%;
        margin:auto;
    }
    
    .contenedor-principal-footer{
        display:flex;
        flex-wrap:nowrap;
        flex-direction:row;
        justify-content: space-around;
        margin: auto;
        max-width:90%;
    }

    .parrafo-footer{
        max-width:100%;
    }

    #copyright-final{
        padding-left: 80px;
    }
}
